# Force OpenOCD to stop presenting the complex memory map to GDB
gdb memory_map disable

# Tell OpenOCD to handle flash programming manually if needed
gdb flash_program enable

# RTOS awareness
set ESP_RTOS nuttx
