#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config  ESP32C3_XIAO_BLINK 
	tristate "\"blink\" example"
	default n
	---help---
		Enable the \"blink\" example

if ESP32C3_XIAO_BLINK

config ESP32C3_XIAO_BLINK_PROGNAME
	string "Program name"
	default "blink"
	---help---
		This is the name of the program that will be used when the NSH ELF
		program is installed.

config ESP32C3_XIAO_BLINK_PRIORITY
	int "blink task priority"
	default 100

config ESP32C3_XIAO_BLINK_STACKSIZE
	int "blink stack size"
	default DEFAULT_TASK_STACKSIZE

endif
